body {
	background: #0A0A0A url('/img/vector-bg.svg') 75% top no-repeat;
	color: #FFFFFF;
	font-family: sans-serif;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: inherit;
}
::-webkit-scrollbar-thumb {
	background-color: #FF4900;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden; 
}
.container {
	max-width: 1170px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0 auto;
}
/*menu*/
.menu {
	max-width: 1250px;
	display: flex;
	justify-content: space-between;
	padding: 40px 10px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.1em;
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__list a {
	color: #fff;
	padding: 10px 20px;
	align-items: center;
}

.menu__list a:hover {
	color: #FF4900;
}
/*end menu*/
.textorange {
	color: #FF4900;
}
.buttonorange {
	display: inline-block;
	border: 2px solid #FF4900;
	display: inline-block;
	padding: 14px 45px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0em;
}
.buttonorange:hover {
	border: 2px solid rgba(255, 73, 0, 0.6);
}
.bigtitle {
	font-family: 'Gilroy';
	font-size: 120px;
	font-weight: 700;
	line-height: 110px;
}
.mintitle {
font-family: 'Gilroy';
font-size: 14px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.dash {
	width: 30px;
	height: 3px;
	background: #fff;
}
/*featcures*/
.featcurescolumn {
	display: flex;
	margin: 0 -22px;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
}
.featcurescolumn__column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 22px 10px 22px;
}
.featcurescolumn__title {
	flex: 1 1 auto;
	padding: 15px 0 0 0;
	display: inline-block;
	position: relative;
	line-height: 12px;
	color: #FF4900;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	text-orientation: mixed;
}

.featcurescolumn__title::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}

.featcurescolumn__item {
	color: #fff;
	margin-top: 18px;
	line-height: 26px;
}
/*end featcures*/
/*social*/
.social {
	margin: 0 -6px;
}
.social__list {
	display: flex;
}
.social__btn a {
	padding: 6px;
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 16px;
	line-height: 14px;
	color: #FF4900;
}
.social__btn a:hover {
	color: #fff;
}
/*end social*/
/*HEADER*/
.header {
	width: 100%;
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
}
/*END HEADER*/
/*MAIN*/
.main {
	flex: 1 1 auto;
	/* font-family: 'Proxima Nova'; */
	font-weight: 600;
	letter-spacing: 0em;
	line-height: 26px;
}
/*forevorcans*/
.main__forevorcans {
	height: 900px;
	padding: 120px 0;
	background: url('../img/forevorcans-bg.png') 40% 35% no-repeat;
}
.forevorcans__title {

}
.forevorcans__item {
	margin-top: 77px;
	font-size: 18px;
}
.forevorcans__price {
	margin-top: 50px;
}
.forevorcans__btnbuy {
	margin-top: 50px;
}
.price {
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
}
/*end forevorcans*/

/*noproblem*/
.main__noproblem {

}
.noproblem {
	margin-top: 120px;
}
.noproblem__item {

}
.noproblem__title {
	margin-top: 40px;
}
.noproblem__row {
	margin-top: 110px;
}
/*end noproblem*/
/*nodestroi*/
.main__nodestroi {

}
.nodestroi {
	margin-top: 136px;
	padding-top: 100px;
	background: url('/img/nodestroi-bg.png') 82% -24% no-repeat;
}
.nodestroi__item {
	text-align: center;
}
.nodestroi__title {
	text-align: center;
}
.nodestroi__container {
	max-width: 1220px;
	margin-top: 645px;
	position: relative;
	left: 420px;
}
.nodestroi__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -20px	
}
.nodestroi__column {
	padding: 0 20px;
}
.nodestroi__imgtitle {
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 63px;
	line-height: 80%;
}
.nodestroi__gif {
	margin-top: 32px;
}
.nodestroi__ordernumber {
	display: inline-block;
	margin-top: 50px;
	padding-right: 40px;
	position: relative;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.nodestroi__ordernumber::after {
	content: ' ';
	display: inline-block;
	width: 30px;
	height: 2px;
	position: absolute;
	right: 0;
	top: 12px;
	background: #fff;

}
.nodestroi__arow {
	display: inline-block;
	margin: 52px 0 0 50px;
}
.nodestro__swipe {
	margin-top: 25px;
	max-width: 1092px;
	position: relative;
	left: 420px;
}
.nodestroi__swipeitem {
	
}
.nodestroi__status {
	max-width: 1092px;
	margin: 50px auto 0 auto;
}
.nodestroi__status img {
	width: 100%;
}
/*end nodestroi*/
/*forevorpen*/
.main__forevorpen {
	margin-top: 185px;
	font-size: 18px;
	background: url('/img/pen-bg.png') 80% 15% no-repeat;
}
.forevorpen__item {

}
.forevorpen__title {
	margin-top: 40px;
}
.forevorpen__text {
	margin-top: 80px;
}
.forevorpen__row {
	margin-top: 145px;
}
/*end forevorpen*/
/*space*/
.main__space {
	margin-top: 140px;
	padding: 100px 0;
	min-height: 860px;
	background: url('/img/space-bg.png') -57% 90% no-repeat; 
}
.space__item {
	text-align: center;
}
.space__title {
	text-align: center;
	margin-top: 48px;
}
.space__row {
	max-width: 1070px;
	margin: 95px auto 0 auto;
	display: flex;
	justify-content: space-between;
}
.space__column {
	padding: 0 37px;
}
.space__text {
	padding: 10px 0;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.space__social {
	margin-top: 65px;
}
.space__dash {
	margin-top: 30px;
}
.space__tag {
	margin-top: 30px;
	font-size: 16px;
	line-height: 14px;
}
/*end space*/
/*buy*/
.main__buy {
	margin-top: 140px;
}
.buy {

}
.buy__item {

}
.buy__title {
	margin-top: 40px;
}
.buy__row {
	margin-top: 84px;
}

.buy__landlist {
	margin-top: 14px;
	border-bottom: 2px solid #fff;
}
.buy__landlist:hover {
	border-bottom: 2px solid #FF4900;
}
.buy__landlist a {
	font-size: 70px;
	line-height: 80%;
	color: #fff;
}

.buy__landlist a:hover {
	color: #FF4900;
}
/*end buy*/
/*our team*/
.main__ourteam {
	margin-top: 240px;
}
.ourteam {}
.ourteam__title {}
.ourteam__row {
	display: flex;
	justify-content: start;
	margin: 80px -40px 0 -40px;
}
.ourteam__column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 50%;
	padding: 0 40px;
}
.ourteam__toprow {
	display: flex;
	justify-content: space-between;
	flex: 0 0 208px;
	
}
.ourteam__avatar {
	padding: 12px 22px 0 0;
	flex: 0 0 208px;
}
.ourteam__item {
	flex: 1 1 auto;
	padding: 0 0 0 22px;
}
.ourteam__name {
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 40px;
	line-height: 100%;
}
.ourteam__social {}
.ourteam__bottomrow {
	flex: 1 1 auto;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	margin-top: 100px;
}
.ourteam__bottomrow p{
	margin-bottom: 40px;
}
.ourteam__bottomrow p:last-child {
	margin-bottom: 0;
}
.ourteam__dash {
	margin: 30px 0;
}
/*end our team*/
/*order*/
.main__order {
	margin-top: 220px;
	padding: 10px;
}
.order {}
.order__row {
	display: flex;
	justify-content: space-between;
	margin: 0 -65px;
}
.order__img {
	flex: 0 0 450px;
	padding: 0 65px;
}
.order__item {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 0 65px;
}
.order__titel {
	flex: 0 0 210px;
}
.order__box {
	flex: 1 1 auto;
	margin-top: 80px;
}
.order__circle {
	margin-top: 40px;
}
.circle {
	display: flex;
	justify-content: start;
}
.circle__crl {
	padding-right: 40px;
}
.crl {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-sizing: border-box;
}

.circle__text {
	font-family: 'Proxima Nova';
	position: relative;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	display: flex;
	text-align: center;
}
.circle__white::before,
.circle__grey::before {
	content: "";
	display: inline-block;
	margin-right: 15px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: #fff;
}
.circle__white::before {
	background: #fff;
}
.circle__grey::before {
	background: #464646;
}

.order__btnbuy {
	margin-top: 35px;
}
.bgcontiner {
	background: url('/img/team-bg.png') 50% 100% no-repeat;
}
/*end order*/
/*feedback*/
.main__feedback {
	margin-top: 240px;
}
.feedback {}
.feedback__item {}
.feedback__title {
	margin-top: 40px;
}
.feedback__row {
	margin: 127px -45px 0;
	display: flex;
}
.feedback__contacts {
	flex: 0 0 360px;
	padding: 0 48px;
	box-sizing: border-box;
}
.feedback__phone a {
	font-family: 'Gilroy';
	font-weight: bold;
	font-size: 40px;
	line-height: 80%;
}
.feedback__dash {
	margin-top: 50px;
}
.feedback__social {
	margin-top: 30px;
}
.feedback__mail {
	margin-top: 10px;
}
.feedback__mail a {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.feedback__phone a:hover,
.feedback__mail a:hover {
	color: #FF4900;
}
.feedback__forms {
	padding: 0 48px;
}
.feedback__forms {
	flex: 1 1 auto;
}
.forms {}
.forms__form {
	max-width: 670px;
}
.forms__item {
	margin-top: 30px;
}
.forms__item:first-child {
	margin-top: 0;
}
.forms__label {
	display: inline-block;
	margin-bottom: 10px;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}
.forms__input {
	min-width: 100%;
	padding: 5px 5px 5px 0;
	background: inherit;
	border-bottom: 1px solid #fff;
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
}
textarea.forms__input {
	min-height: 80px;
	resize: none;
}
textarea.forms__input::-webkit-scrollbar {
	width: 5px;
}
textarea.forms__input::-webkit-scrollbar-track {
	background-color: inherit;
}
textarea.forms__input::-webkit-scrollbar-thumb {
	background-color: #FF4900;
}
.forms__label:hover {
	cursor: pointer;
}
.forms__input:hover {
	cursor: pointer;
}
.forms__input:focus {
	border-bottom: 1px solid #FF4900;
}
.get {
	margin-top: 48px;
	background: inherit;
	color: #FF4900;
}
.get:hover {
	color: rgba(255, 73, 0, 0.6);
}
/*end feedback*/
/*END MAIN*/

/*FOOTER*/
.footer {
	margin-top: 196px;
}
/*END FOOTER*/